table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px; /* Aumenta el espacio alrededor del contenido */
    text-align: center; /* Centra el texto horizontalmente */
}

th {
    background-color: #f2f2f2; /* Color de fondo para las celdas de encabezado */
}

/* Estilo para las filas impares */
tr:nth-child(odd) {
    background-color: #f9f9f9; /* Color de fondo alternativo para filas impares */
}

/* Estilo para las celdas editables */
.editable {
    cursor: pointer; /* Cambia el cursor al pasar sobre celdas editables */
}

/* Contenedor con deslizador horizontal */
.table-container {
    overflow-x: auto;
}

/* Estilo para botones en la tabla */
button {
    padding: 6px 12px; /* Ajusta el espaciado del botón */
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Borde */
    cursor: pointer; /* Cursor */
}

button:hover {
    background-color: #45a049; /* Cambia el color de fondo al pasar el mouse */
}

/* Estilo para botones de eliminar fila */
.eliminar-fila {
    background-color: #f44336; /* Color de fondo para botón de eliminar */
}

.eliminar-fila:hover {
    background-color: #cc0000; /* Cambia el color de fondo al pasar el mouse */
}

/*----------------------------------------------------------------------------------------------------------------*/
 /* Estilos personalizados para el formulario */
 #fechas {
    margin-top: 50px; /* Espacio superior */
}

.form-group {
    margin-bottom: 20px; /* Espacio entre grupos de campos */
}

label {
    font-weight: bold; /* Texto en negrita */
    color: #333; /* Color del texto */
    margin-left: 10px; /* Margen izquierdo */
}

input[type="date"] {
    width: 200px; /* Ancho del campo de fecha */
    padding: 8px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde del campo */
}

.btn-primary {
    background-color: #007bff; /* Color de fondo del botón */
    border-color: #007bff; /* Color del borde del botón */
    margin-left: 10PX;
}

.btn-primary:hover {
    background-color: #0056b3; /* Cambio de color al pasar el cursor */
    border-color: #0056b3;
}
h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Fuente elegante */
    font-size: 36px; /* Tamaño del texto */
    color: #333; /* Color del texto */
    text-align: center; /* Alineación centrada */
    margin-top: 50px; /* Espacio superior */
    margin-bottom: 30px; /* Espacio inferior */
    text-transform: uppercase; /* Convertir texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    font-weight: bold;
    border-bottom: 5px solid #8db49a49; /* Línea debajo del h1 */
}
 /* Estilos generales para los botones */
 button {
    background-color: #158f52; /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Alineación centrada */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 16px; /* Tamaño del texto */
    margin: 4px 2px; /* Margen */
    cursor: pointer; /* Cambio de cursor al pasar el ratón */
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilos específicos para el botón "Agregar Fila" */
#agregarFila {
    background-color: #28a745; /* Color de fondo verde */
}

/* Estilos específicos para el botón "Salir" */
#salir {
    background-color: #dc3545; /* Color de fondo rojo */
}
/*-----------------------------------------------------------------------------------------------------*/
.pagination-container {
    margin-top: 20px; /* Espacio superior */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}

.pagination {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    color: #007bff; /* Color del enlace */
    border: 1px solid #007bff; /* Borde del enlace */
    padding: 8px 16px; /* Espaciado interno */
    text-decoration: none; /* Sin subrayado */
    transition: all 0.3s ease; /* Transición suave */
    border-radius: 5px; /* Bordes redondeados */
}

.page-link:hover {
    background-color: #007bff; /* Cambio de color al pasar el ratón */
    color: #fff; /* Cambio de color del texto al pasar el ratón */
}